header {
  position: static;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main aside {
  padding: 10px 15px;
  background-color: whitesmoke;
}

.main aside h6 {
  color: grey;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 5px;
}

.main aside nav ul {
  list-style: none;
}

.main aside nav ul li {
  padding: 5px;
}

.main aside nav ul li a {
  color: #440206;
  position: relative;
}

.main aside nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 0;
  width: 0;
  background-color: #440206;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.main aside nav ul li a:hover {
  color: grey;
}

.main aside nav ul li a.current::before {
  height: 100%;
  width: 2px;
}

.content {
  padding: 10px 15px;
  scroll-behavior: smooth;
  background-color: white;
}

.content h4, .content p {
  padding: 3px 0;
}

.content span {
  font-weight: 550;
  color: #440206;
}

.content ul, .content ol {
  padding: 0 0 0 25px;
}

.content form span {
  color: #212529;
  font-weight: normal;
}

.query {
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px 0;
}

.query h5 {
  padding: 0;
}

h5 {
  color: #440206;
  font-weight: 300;
  background-color: whitesmoke;
  padding: 5px;
}

form {
  width: 100%;
  margin: 20px auto;
  max-width: 450px;
  border: 1px solid #212529;
}

form h5 {
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 10px 10px 0;
  position: relative;
  z-index: 0;
}

form h5::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #440206;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 3px 0;
  position: relative;
}

form div:nth-of-type(1) a:not([href]):not([class]) {
  font-size: 1.1rem;
  color: #440206;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

form div:nth-of-type(1) .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #440206;
  height: 2px;
  padding: 0;
  width: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form div:nth-of-type(1) .underline.toggled {
  left: 50%;
}

form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form label input:not([type=file]) {
  height: 2rem;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form label input:not([type=file]):focus {
  border: 1px solid grey;
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 2px grey;
          box-shadow: 0px 0px 3px 2px grey;
}

form label.confirm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto 5px 10px;
}

form label.confirm input {
  height: 1rem;
  width: 1rem;
  margin: auto 5px;
}

form label.confirm input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form label span, form label textarea {
  width: 100%;
}

form label textarea {
  height: 120px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form label textarea:focus {
  border: 1px solid grey;
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 2px grey;
          box-shadow: 0px 0px 3px 2px grey;
}

form label select {
  background-color: whitesmoke;
  color: #212529;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form label select:active {
  border: 1px solid grey;
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 2px grey;
          box-shadow: 0px 0px 3px 2px grey;
}

form label select:focus {
  outline: none;
}

form label input[type=file] {
  max-width: 280px;
  margin: 5px 0;
}

form label input[type=file]:focus {
  outline: none;
}

form button {
  color: #212529;
  width: 125px;
  margin: 0 10px 10px calc(100% - 135px);
  border: none;
  position: relative;
  background-color: transparent;
  z-index: 0;
  overflow: hidden;
  padding: 5px;
  background-color: #dbdbdb;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form button::before, form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

form button::before {
  background-color: grey;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

form button::after {
  background-color: #440206;
}

form button:focus {
  outline: none;
}

form button:hover {
  color: white;
}

form button:hover::before, form button:hover::after {
  left: 0;
  opacity: 1;
}

form button:hover::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

form button:hover::after {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.add, .rem, .mod {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
}

.add.toggled, .rem.toggled, .mod.toggled {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.add.toggled {
  height: 419px;
}

.rem.toggled {
  height: 106px;
}

.mod.toggled {
  height: 255px;
}

#manage form .underline {
  width: calc(100% / 3);
}

#manage form .underline.toggled {
  left: calc(100% / 3);
}

#manage form .underline.toggled.toggled-2 {
  left: calc(100% / 3 * 2);
}

@media only screen and (min-width: 768px) {
  .content {
    overflow-y: scroll;
  }
  .row {
    position: relative;
    overflow: hidden;
  }
  .row .col-md-8:nth-of-type(2), .row .col-md-8:nth-of-type(3), .row .col-md-8:nth-of-type(4) {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: absolute;
    height: 100%;
    top: 0;
    right: -100%;
  }
  .row .col-md-8:nth-of-type(2).displayed, .row .col-md-8:nth-of-type(3).displayed, .row .col-md-8:nth-of-type(4).displayed {
    right: 0;
  }
  form label input {
    width: auto;
  }
}
/*# sourceMappingURL=admin.css.map */