.banner {
  background: linear-gradient(135deg, black, #383838);
  color: white;
  padding: 3.5rem 0;
}

.detalles {
  margin: 20px auto;
  position: relative;
}

.detalles .col-lg-8 {
  padding: 0;
  position: static;
  margin-top: calc((100vw - 30px) * 9 / 16);
}

.detalles .col-lg-8 .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 30px);
  height: calc((100vw - 30px) * 9 / 16);
  left: 15px;
  top: 0;
}

.detalles .col-lg-8 .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #383838;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0.5;
}

.detalles .col-lg-8 .slider .slide.passed, .detalles .col-lg-8 .slider .slide:nth-child(1) {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.detalles .col-lg-8 .slider .slide img {
  margin: auto;
  height: inherit;
}

.detalles .col-lg-8 .slider button {
  position: absolute;
  padding: 5px 15px;
  bottom: 0;
  left: 0;
  border: none;
  color: black;
  background-color: whitesmoke;
  opacity: 0.6;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.detalles .col-lg-8 .slider button:hover {
  opacity: 0.8;
}

.detalles .col-lg-8 .slider button:nth-of-type(2) {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.detalles .col-lg-8 p {
  margin: 0 5px;
}

.detalles .col-lg-4 {
  padding: 0;
}

.detalles .col-lg-4 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.detalles .col-lg-4 .grid div {
  padding: 5px;
  text-align: right;
}

.detalles .col-lg-4 .grid .header {
  font-weight: 600;
  color: #383838;
  text-align: left;
}

.detalles .col-lg-4 h6 {
  text-transform: uppercase;
  color: #585858;
}

.detalles .col-lg-4 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detalles .col-lg-4 form h4 {
  width: 100%;
}

.detalles .col-lg-4 form label {
  width: 100%;
}

.detalles .col-lg-4 form label * {
  width: 100%;
  padding: 5px;
}

.detalles .col-lg-4 form label input, .detalles .col-lg-4 form label textarea {
  width: calc(100% - 10px);
  margin: 0 5px;
  border: 1px solid #585858;
  border-radius: 0 5px 0 5px;
}

.detalles .col-lg-4 form label input:focus, .detalles .col-lg-4 form label textarea:focus {
  outline: none;
}

.detalles .col-lg-4 form label textarea {
  height: 150px;
}

.detalles .col-lg-4 form .button {
  border: none;
  border-radius: 0 5px 0 5px;
  margin: 10px 5px 10px auto;
}

.detalles .col-lg-4 form a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 3px 0 3px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 2.5px;
}

.detalles .col-lg-4 form a i {
  padding: 5px;
  font-size: 1.2rem;
}

.detalles .col-lg-4 form a:nth-of-type(1) {
  border: 1px solid #0CC243;
  color: #0CC243;
}

.detalles .col-lg-4 form a:nth-of-type(1):hover {
  color: whitesmoke;
  background-color: #0CC243;
}

.detalles .col-lg-4 form a:nth-of-type(2) {
  border: 1px solid #007bff;
}

.detalles .col-lg-4 form a:nth-of-type(2):hover {
  color: whitesmoke;
  background-color: #007bff;
}

h4 {
  border-bottom: 1px solid #383838;
  margin-bottom: 10px;
  padding: 5px;
}

@media only screen and (min-width: 576px) {
  .detalles .col-lg-8 {
    margin-top: calc((540px - 30px) * 9 / 16);
  }
  .detalles .col-lg-8 .slider {
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 0;
    height: calc((540px - 30px) * 9 / 16);
  }
}

@media only screen and (min-width: 768px) {
  .detalles .col-lg-8 {
    padding: 0 15px 0 0;
    margin-top: calc((720px - 30px) * 9 / 16);
  }
  .detalles .col-lg-8 .slider {
    height: calc((720px - 30px) * 9 / 16);
  }
  .detalles .col-lg-4 {
    margin-top: calc((720px - 30px) * 9 / 16);
  }
}

@media only screen and (min-width: 992px) {
  .detalles .col-lg-8 {
    padding: 0;
    margin-top: 0;
  }
  .detalles .col-lg-8 .slider {
    position: relative;
    left: 0;
    width: 100%;
    height: calc(((960px - 30px) / 12 * 8) * 9 / 16);
  }
  .detalles .col-lg-4 {
    margin-top: 0;
    padding: 0 0 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .detalles .col-lg-8 .slider {
    height: calc(((1140px - 30px) / 12 * 8) * 9 / 16);
  }
}
/*# sourceMappingURL=detalles.css.map */