html {
	font-size: 16px;
    scroll-behavior: smooth;
	* {
		box-sizing: border-box;
		padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
	}
	a:hover {
		text-decoration: none;
    }
}

body {
    background-color: white;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    ul {
        list-style: none;
        margin: 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		align-items: center;
        img {
            width: 75px;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
        .md-menu {
            display: none;
            height: 75px;
            ul {
                height: 100%;
                display: flex;
                align-items: center;
                li {
                    height: 100%;
                    min-width: 125px;
                    letter-spacing: 2px;
                    margin: 0 3px;
					display: flex;
                    transition: 0.3s ease-in-out;
                    text-transform: uppercase;
                    &:nth-child(2) {
                        padding: 0 10px;
                    }
                    a {
                        margin: auto;
						color: white;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
						a {
                            color: gray;
						}
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
		}
		#burger-icon {
            width: 26px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            span {
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: white;
                transition: 0.3s ease-out;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(4) {
                    bottom: 0;
                }
            }
            &.touched {
				span {
					&:nth-child(1), &:nth-child(4) {
						opacity: 0;
					}
					&:nth-child(2) {
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						transform: rotate(-45deg);
					}
				}
            }
        }
        .mobile-menu {
			width: 100%;
			height: 0;
            border-top: 1px solid white;
			transition: 0.3s ease-in-out;
			transform: scaleY(0);
			transform-origin: top;
			opacity: 0;
            li {
                text-transform: uppercase;
                text-align: left;
                padding: 5px;
                font-size: 1.25rem;
                border-bottom: 1px solid white;
				transition: 0.3s ease-in-out;
                a {
                    color: white;
                }
                &:hover {
                    background-color: white;
                    a {
                        color: #440206;
                    }
                }
			}
			&.displayed {
				transform: scaleY(1);
				height: 165px;
				opacity: 1;
			}
        }
    }
    &.scrolled {
        background-color: #440206;
        img {
            opacity: 1;
        }
        #burger-icon {
            span {
                background-color: whitesmoke;
            }
        }
        .mobile-menu {
            border-color: whitesmoke;
            li {
                border-color: whitesmoke;
                a {
                    color: whitesmoke;
                }
                &:hover {
                    background-color: whitesmoke;
                    a {
                        color: #440206;
                    }
                }
            }
        }
        .md-menu {
            ul {
                li {
                    a {
                        color: whitesmoke;
                    }
                    &:hover {
                        background-color: whitesmoke;
                        a {
                            color: #440206;
                        }
                    }
                }
            }
        }
    }
}

.intro {
    position: relative;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;
    }
    .container {
        margin: auto;
        padding-bottom: 38px;
        a {
            margin: auto;
            width: fit-content;
            padding: 10px;
        }
    }
}


.button {
    font-size: 0.8rem;
    display: block;
    min-width: 50px;
    padding: 10px;
    margin: 0 5px;
    background-color: #440206;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: white;
        color: #440206;
    }
}




.social {
    display: flex;
    justify-content: center;
    a {
        margin: auto 10px;
        height: 60px;
        font-size: 2rem;
        width: 60px;
        padding: 6px;
        text-align: center;
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        display: flex;
        i {
            color: white;
            margin: auto;
        }
        &:nth-child(1) {
            &:hover {
                background-color: #3B5998;
            }
        }
        &:nth-child(2) {
            &:hover {
                background-color: #0CC243;
            }
        }
        &:nth-child(3) {
            position: relative;
            &::before, &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                z-index: -1;
            }
            &::before {
                background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            }
            &::after {
                transition: 0.5s ease-in-out;
                background-color: #2F2F2F;
                opacity: 1;
            }
            &:hover {
                &::after {
                    opacity: 0;
                }
            }
        }
        &:nth-child(4) {
            &:hover {
                background-color: #F14336;
            }
        }
        &:hover {
            transform: rotate(360deg);
        }                        
    }
}

footer {
    color: white;
    .footer-row {
        width: 100%;
        padding: 15px;
        h4 {
            text-transform: uppercase;
            font-weight: 300;
            margin: 0;
        }
        &:nth-child(1) {
            background-color: #2f2f2f;
        }
        &:nth-child(2) {
            background-color: #333333;
        }
        &:nth-child(3) {
            background-color: #383838;
        }
        small {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
    .footer-links {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
        justify-content: center;
        width: fit-content;
        div {
            padding: 5px;
            ul {
                padding: 5px 10px 10px;
                list-style: none;
                margin: 0;
                a {
                    color: white;
                    position: relative;
                    &::before, &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -2px;
                        left: 0;
                        opacity: 0.9;
                        transition: 0.3s ease-in-out;
                    }
                    &::before {
                        background-color: white;
                        transition-delay: 0ms;
                    }
                    &::after {
                        background-color: #440206;
                        transition-delay: 0.15s;
                    }
                    &:hover {
                        &::before, &::after {
                            width: 100%;
                        }
                        &::before {
                            transition-delay: 0.15s;
                        }
                        &::after {
                            transition-delay: 0ms;
                        }   
                    }
                }
            }
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    footer {
        .footer-links {
            grid-template-columns: repeat(3, 1fr);
            justify-content: unset;
            width: auto;
            justify-items: center;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        .container {
            .md-menu {
                display: flex;
            }
            #burger-icon {
                display: none;
			}
			.mobile-menu {
				&.displayed {
					height: 0;
					opacity: 0;
					transform: scaleY(0);
				}
			}
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}


@media only screen and (min-width: 1600px) {
    html {
        font-size: 18px;
    }
    header {
        .container {
            .md-menu {
                ul {
                    li {
                        min-width: 150px;
                    }
                }
            }
        }
    }
}