.title{
    img{
        height: 100px;
        width: auto;
    }
}
.contenido{
    .categories{
        .house{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #house-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .department{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #department-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .duplex{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #duplex-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .terreno{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #terreno-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .garage{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #garage-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .galpon{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #galpon-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
        .local{
            margin-left: 100px;
            img{
                height: 250px;
                width: 300px;
            }
            #local-name{
                //Aca pone el texto bonito y centrado con la imagen 
            }
        }
    }
}