body {
    min-height: 100vh;
}

.main {
    .col-md-5 {
        h6 {
            padding: 10px 0;
        }
        span {
            color: #440206;
        }
    }
    .col-md-7 {
        h5 {
            padding: 5px;
            background-color: #440206;
        }
        label {
            padding: 5px;
        }
    }
}


@media only screen and (min-width: 768px) {
    .row .col-md-7 {
        display: flex;
        overflow: auto;
        form {
            margin: auto;
        }
    }
}

@media only screen and (min-height: 900px) {
    .main {
        height: calc(100vh - 76px - 275px);
        .col-md-5 {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            * {
                width: 100%;
            }
        }
    }
}