<footer>
    <div class="footer-row">
        <div class="container social">
            <a class="icon-Facebook" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon-Twitter" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="icon-Instagram" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="icon-Google" href="#">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    <div class="footer-row">
        <div class="container footer-links">
            <div>
                <h4>Preguntas frecuentes</h4>
                <ul>
                    <li><a href="#">¿Cómo publicar una propiedad?</a></li>
                    <li><a href="#">Horarios de atención</a></li>
                </ul>
            </div>
            <div>
                <h4>Soporte</h4>
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div>
                <h4>Información</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Servicios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-row">
        <small>@ 2020 RS Propiedades</small>
    </div>
</footer>