<footer>
    <div class="footer-row">
        <div class="container social">
            <a class="icon-Facebook" href="https://www.facebook.com/ROSCH.INMOBILIARIA">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon-phone" href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a class="icon-Instagram" href="https://www.instagram.com/rosch.inmobiliaria/">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="icon-Google" href="#">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    <div class="footer-row">
        <div class="container footer-links">
            <div>
                <h4>Preguntas frecuentes</h4>
                <ul>
                    <li><a href="#">¿Cómo publicar una propiedad?</a></li>
                    <li><a href="#">Horarios de atención</a></li>
                </ul>
            </div>
            <div>
                <h4>Soporte</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div>
                <h4>Información</h4>
                <ul>
                    <li><a href="contacto.php">Contacto</a></li>
                    <li><a href="services.php">Servicios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-row">
        <small>@ 2020 ROSCH Propiedades</small>
    </div>
</footer>