<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RS Propiedades: Inicio</title>
	<link rel="stylesheet" href="../css/master.css">
</head>

<body>
	<input type="checkbox" id="display-menu">
	<header>
		<div class="first">
			<div class="container">
				<div class="title">
					<h2><a href="#"><img src="../imgs/Logo.png"></a></h2>
				</div>
				<div class="form">
					<form action="">
						<div class="form-wrapper">
							<input type="text" placeholder="¿Qué buscás?">
							<button type="submit"><i class="fas fa-search"></i></button>
						</div>
					</form>
				</div>
				<nav class="sesion">
					<ul>
						<li><a href="sesion.php">Ingresar</a></li>
						<li><a href="sesion.php?mode=register">Registrarme</a></li>
					</ul>
					<label for="display-menu" class="menu-icon">
						<span></span>
						<span></span>
						<span></span>
					</label>
				</nav>
			</div>
		</div>
		<div class="second">
			<div class="container">
				<div class="categorias">
				</div>
				<nav>
					<ul>
						<li><a href="">Productos</a></li>
						<li><a href="">Preguntas frecuentes</a></li>
						<li><a href="">¿Cómo comprar?</a></li>
						<li><a href="">Contacto</a></li>
						<li><a href=""><i class="fas fa-shopping-cart"></i> Carrito</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="mobile-menu">
			<nav>
				<ul>
					<input type="checkbox" id="display-cats">
					<li><a href="">Productos</a></li>
					<li><a href="">Preguntas frecuentes</a></li>
					<li><a href="">¿Cómo comprar?</a></li>
					<li><a href="">Contacto</a></li>
					<li><a href=""><i class="fas fa-shopping-cart"></i> Carrito</a></li>
					<li><a href="sesion.php">Ingresar</a></li>
					<li><a href="sesion.php?mode=register">Registrarme</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="contenido">
		<div class="categories">
			<div class="house">
				<img src="../imgs/House.jpg">
				<div id="house-name">Casa</div>
			</div>
			<div class="duplex">
				<img src="../imgs/Duplex.jpg">
				<div id="duplex-name">Duplex</div>
			</div>
			<div class="terreno">
				<img src="../imgs/Terreno.jpg">
				<div id="terreno-name">Terreno</div>
			</div>
			<div class="garage">
				<img src="../imgs/Garage.jpg">
				<div id="garage-name">Cochera</div>
			</div>
			<div class="galpon">
				<img src="../imgs/Galpon.jpg">
				<div id="galpon-name">Galpon</div>
			</div>
			<div class="local">
				<img src="../imgs/Local.jpg">
				<div id="local-name">Local</div>
			</div>
		</div>
		<div class="container">
			<h2>Productos destacados</h2>
			<div class="wrapper">
				<div class="lista">
					<a href="">
						<div class="item"></div>
						<p>
							Casa En la playa<br>
							<span>Precio: $500.000.</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Departamento al norte<br>
							<span>Precio: $1.125.479.</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Terreno en el centro<br>
							<span>Precio: $800.000.</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Cochera<br>
							<span>Precio: $150.000.</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Casa piola<br>
							<span>Precio: $4.800.000</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Campo<br>
							<span>Precio: $2.300.000</span>
						</p>
					</a>
				</div>
			</div>
			<h2>Ofertas</h2>
			<div class="wrapper">
				<div class="lista">
					<a href="">
						<div class="item"></div>
						<p>
							Casa de playa<br>
							<span class="viejo">
								$6.419.125
							</span>
							<span class="nuevo">
								$5.999.999
							</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Departamento<br>
							<span class="viejo">
								$3.869.555
							</span>
							<span class="nuevo">
								$3.199.645
							</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Campo<br>
							<span class="viejo">
								$2.000.258
							</span>
							<span class="nuevo">
								$1.500.265
							</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Casa piola<br>
							<span class="viejo">
								$9.500.250
							</span>
							<span class="nuevo">
								$8.900.300
							</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Cochera<br>
							<span class="viejo">
								$2.300.522
							</span>
							<span class="nuevo">
								$1.900.200
							</span>
						</p>
					</a>
					<a href="">
						<div class="item"></div>
						<p>
							Quincho<br>
							<span class="viejo">
								$225.255
							</span>
							<span class="nuevo">
								$170.200
							</span>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<div class="container">
				<div class="soporte">
					<h5>Soporte</h5>
					<ul>
						<li><a href="#">Nosotros</a></li>
						<li><a href="#">Contacto</a></li>
						<li><a href="">Nuestras marcas</a></li>
					</ul>
				</div>
				<div class="información">
					<h5>Información</h5>
					<ul>
						<li><a href="#">Preguntas frecuentes</a></li>
						<li><a href="#">Cómo llegar</a></li>
						<li><a href="#">Garantías</a></li>
					</ul>
				</div>
				<div class="cuenta">
					<h5>Mi cuenta</h5>
					<ul>
						<li><a href="#">Mi cuenta</a></li>
						<li><a href="#">Carrito</a></li>
						<li><a href="#">Programación de pedidos</a></li>
						<li><a href="#">Historial de compras</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container">
				<small>@ 2020 RS Propiedades</small>
				<img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="data fiscal">
			</div>
		</div>
	</footer>
	<script src="https://kit.fontawesome.com/79cc46baec.js" crossorigin="anonymous"></script>
	<script src="../js/demo.js"></script>
</body>

</html>